@mixin bodyFont {
	font-family: 'Raleway', system-ui, "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@mixin headingFont {
	font-family: 'Montserrat', system-ui, "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 700;
}

@mixin sectionDescription {
	display: grid;
	grid-template-columns: 1fr;

	@media all and (min-width: 760px) {
		grid-template-columns: 3fr 1fr;
	}

	@media all and (min-width: 980px) {
		grid-template-columns: 3fr 2fr;
	}

	@media all and (min-width: 1200px) {
		grid-template-columns: 5fr 4fr;
	}
}

html {
	color: $body;

	body {
		@include bodyFont;
		background: $gray;

		& * {
			box-sizing: border-box;
		}

		#page {
			background: #fff;
			box-shadow: 0 0 20px rgba(40, 6, 89, 0.15);
			margin: 0 auto;
			max-width: 1600px;
		}
	}
}