#colophon {
	font-size: .83rem;

	.fat-footer {
		padding-bottom: var(--space-small);
		padding-top: var(--space-small);

		.fat-footer-grid {
			display: grid;
			grid-template-columns: 1fr;
			gap: clamp(2rem, 3.5vw, 2.5rem) clamp(2rem, 3.5vw, 4rem);

			@media all and (min-width: 760px) {
				grid-template-columns: 1fr 1fr;
			}

			@media all and (min-width: 1080px) {
				grid-template-columns: 2fr 1fr 1fr 1fr;
			}

			.footer-list-title {
				@include headingFont;
				font-size: .83rem;
				font-weight: 900;
				margin-bottom: 1.58rem;
				text-transform: uppercase;
			}

			a:not(.social-icon) {
				color: $body_light;
			}

			ul {
				list-style: none;
				margin: 0;
				padding: 0;
			}

			.crispy-div-info {

				.site-title {
					margin-bottom: 1rem;

					.site-logo {
						max-width: 100px;
					}
				}
			}
		}
	}

	.site-info {
		padding-bottom: var(--space-tiny);
	}
}