#colophon {
	font-size: .88rem;
	line-height: 1.4;

	.fat-footer {
		padding: 3rem 0;

		.fat-footer-grid {
			display: grid;
			grid-template-columns: 1fr;
			gap: 2rem;

			@media all and (min-width: 760px) {
				gap: 2.5rem 4rem;
				grid-template-columns: 1fr 1fr;
			}

			@media all and (min-width: 1080px) {
				grid-template-columns: 2fr 1fr 1fr 1fr;
			}

			.footer-list-title {
				@include headingFont;
				font-size: 13px;
				font-weight: 800;
				margin-bottom: 1.68rem;
				text-transform: uppercase;
			}

			a:not(.social-icon) {
				color: $body_light;

				&:hover,
				&:focus,
				&:active {
					color: $body_light;
				}
			}

			ul {
				list-style: none;
				margin: 0;
				padding: 0;

				li {
					font-size: 90%;
					margin-bottom: .15rem;
				}
			}

			.crispy-div-info {

				.site-title {
					margin-bottom: 1rem;

					.site-logo {
						max-width: 100px;
					}
				}
			}
		}
	}

	.site-info {

		.site-copyright {
			color: lighten($body_light, 30%);
			font-size: 90%;

			a {
				color: lighten($body_light, 30%);
				text-decoration: none;

				&:hover,
				&:focus,
				&:active {
					color: $body_light;
				}
			}
		}
	}
}