#site-navigation {

	.menu-toggle {
        @include headingFont;
		background: none;
		border: 0;
		color: $body;
		cursor: pointer;
        font-size: .88rem;
        font-weight: 600;
		padding: 0;
		position: absolute;
		right: 1.2rem;
		top: 1.2rem;
		transition: all .3s;

		@media all and (min-width: 540px) {
			right: 2rem;
		}

		@media all and (min-width: 980px) {
			display: none;
			right: 4.5rem;
		}
	}

	#primary-menu {
		list-style-type: none;
		margin: 0;
		padding: 0;

		.menu-item {

			a {
				font-size: 16px;
				font-weight: 600;
				text-decoration: none;
			}

			&.current-menu-item {

				a {
                    text-decoration: underline;

					&:active,
					&:focus,
					&:hover {
						cursor: text;
					}
				}
			}

            &.menu-item-has-icon {

                a {

                    .menu-item-icon {
                        margin-right: 6px;
                        width: 16px;
                    }
                }
            }
		}
	}

	&:not(.toggled) {
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;

		& > [class*="-container"] {
			display: none;

			@media all and (min-width: 980px) {
				display: block;
			}
		}

		#primary-menu {
			display: flex;

			@media all and (min-width: 980px) {
				column-gap: 1.5rem;
				text-align: right;
			}

			.menu-item {

                &.hide-on-desktop {

                    @media all and (min-width: 980px) {
                        display: none;
                    }
                }
			}
		}
	}

	&.toggled {

		#primary-menu {
			gap: .7rem;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			margin-top: 12px;
			padding: 10px 0;

			.menu-item {

				a {
					border-radius: 24px;
					display: block;
					font-weight: 600;
					padding: 7px 20px;
					text-decoration: none;
				}
			}
		}
	}
}

.has-light-header { /* default */

	#site-navigation {

		.menu-item {

			a {
				color: $color2;

				&:active,
				&:focus,
				&:hover {
					color: $color6;
				}
			}

			&.current-menu-item {

				a {
					color: $color6;
				}
			}
		}

		&.toggled {

			#primary-menu {

				.menu-item {

					a {
						background: #fff;
						border: 2px solid rgba(0,0,0,.06);
						color: $color2;

						&:active,
						&:focus,
						&:hover {
							color: $color5;
						}
					}

					&.current-menu-item {

						a {
							color: $color5;
						}
					}
				}
			}
		}
	}
}

.has-dark-header { /* All dark header themes */

	#site-navigation {

		.menu-toggle {
			color: #fff;
		}

		.menu-item {

			a {
				color: rgba(255,255,255,.7);

				&:active,
				&:focus,
				&:hover {
					color: #fff;
				}
			}

			&.current-menu-item {

				a {
					color: #fff;
				}
			}
		}

		&.toggled {

			.menu-item {

				a {
					background: rgba(255,255,255,.04);
					border: 2px solid rgba(255,255,255,.15);
				}
			}
		}
	}
}

.has-purple-header {

	#site-navigation {

		.menu-item {

			a {
				color: $body_over_purple;

				&:active,
				&:focus,
				&:hover {
					color: $color6;
				}
			}
		}
	}
}

.has-pink-header {

	#site-navigation {

		.menu-item {

			a {
				color: $body_over_pink;

				&:active,
				&:focus,
				&:hover {
					color: #fff;
				}
			}
		}
	}
}

.posts-navigation {

	.nav-links {
		display: grid;
		grid-template-columns: 1fr 1fr;

		.nav-previous,
		.nav-next {

			a {
				@include headingFont;
				color: $headings;
				font-size: .75rem;
				text-decoration: none;
				text-transform: uppercase;

				&:active,
				&:focus,
				&:hover {
					color: $color5;
				}
			}
		}

		.nav-previous {

			& + .nav-next {
				text-align: right;
			}
		}
	}
}

.post-navigation {

	.nav-links {
		display: grid;
		row-gap: 1.5rem;
		grid-template-columns: 1fr;

		@media all and (min-width: 980px) {
			column-gap: 5rem;
			grid-template-columns: 1fr 1fr;
		}

		@media all and (min-width: 1200px) {
			column-gap: 15rem;
		}

		.nav-previous,
		.nav-next {

			a {
				text-decoration: none;
			}

			.nav-subtitle {
				@include headingFont;
				color: $headings;
				display: block;
				font-size: .75rem;
				text-transform: uppercase;

				&:active,
				&:focus,
				&:hover {
					color: $headings;
				}
			}

			.nav-title {
				color: $color5;
                display: block;
				font-size: .88rem;
				text-decoration: underline;
				text-decoration-style: dotted;
				text-decoration-thickness: 2px;
                max-width: 500px;

				&:active,
				&:focus,
				&:hover {
					text-decoration-style: solid;
				}
			}
		}

		.nav-previous {

			@media all and (min-width: 980px) {

				& + .nav-next {
					text-align: right;
				}
			}
		}
	}
}