.page-header,
.entry-header {

	.page-header-title,
	.entry-title {

		&:last-child {
			margin-bottom: 0;
		}
	}

	.page-header-title-label {
		color: $color5;
		display: block;
		font-size: 1.1rem;
	}

	.page-header-description {
		@include sectionDescription;
	}

	.search-form {
		margin-top: 2rem;

		input {

			@media all and (min-width: 760px) {
				max-width: 50%;
			}
		}
	}
}

.background-purple {

	.page-header-title-label {
		color: $body_over_purple;
	}
}

.background-pink {

	.page-header-title-label {
		color: $body_over_pink;
	}
}