.has-light-header {

	.page-header {
		border-bottom: 1px dashed $border_over_white;
	}
}

.page-header,
.entry-header {

	.page-header-title,
	.entry-title {

		&:last-child {
			margin-bottom: 0;
		}
	}

	.page-header-title-label {
		color: $color5;
		display: block;
		font-size: 1rem;
		margin-bottom: 0.35rem;
	}

	.page-header-description {
		@include sectionDescription;

		&:not(:last-child) {
			@media all and (min-width: 1200px) {
				margin-bottom: .75rem;
			}
		}

	}

	.search-form {
		margin-top: 2rem;

		input {
			max-width: 85%;

			@media all and (min-width: 760px) {
				max-width: 350px;
			}
		}
	}
}

.background-purple {

	.page-header-title-label {
		color: $body_over_purple;
	}
}

.background-pink {

	.page-header-title-label {
		color: $body_over_pink;
	}
}