.inner {
	margin: 0 auto;
	/* Default without a size class */
	padding: clamp(3rem, 4.5vw, 3.5rem) clamp(2rem, 6vw, 4.5rem);

	&.tiny {
		padding-bottom: var(--space-tiny);
		padding-top: var(--space-tiny);
	}

	&.small {
		padding-bottom: var(--space-small);
		padding-top: var(--space-small);
	}

	&.smedium {
		padding-bottom: var(--space-smedium);
		padding-top: var(--space-smedium);
	}

	&.medium {
		padding-bottom: var(--space-medium);
		padding-top: var(--space-medium);
	}

	&.large {
		padding-bottom: var(--space-large);
		padding-top: var(--space-large);
	}

	&.no-vertical-spacing {
		padding-bottom: 0;
		padding-top: 0;
	}

	&.no-spacing {
		max-width: unset;
		padding: unset;
	}
}

.element-spacing {
	/* Default without a size class */
	padding: clamp(3rem, 4.5vw, 3.5rem) clamp(2rem, 6vw, 4.5rem);

	&.tiny {
		padding-bottom: var(--space-tiny);
		padding-top: var(--space-tiny);
	}

	&.small {
		padding-bottom: var(--space-small);
		padding-top: var(--space-small);
	}

	&.smedium {
		padding-bottom: var(--space-smedium);
		padding-top: var(--space-smedium);
	}

	&.medium {
		padding-bottom: var(--space-medium);
		padding-top: var(--space-medium);
	}

	&.large {
		padding-bottom: var(--space-large);
		padding-top: var(--space-large);
	}

	&.top-heavy {
		padding-bottom: clamp(2.75rem, 4vw, 3rem);
		padding-top: clamp(3.25rem, 8vw, 6rem);
	}

	&.top-semi-heavy {
		padding-bottom: clamp(2.75rem, 4vw, 3rem);
		padding-top: clamp(3.25rem, 6vw, 4.5rem);
	}

	&.no-vertical-spacing {
		padding-bottom: 0;
		padding-top: 0;
	}
}