.history-grid {
	display: grid;
	gap: clamp(2.5rem, 5.5vw, 5rem);
	grid-template-columns: 1fr;

	@media all and (min-width: 840px) {

		.history-grid-content {
			order: 2;
		}

		.history-grid-media {
			order: 1;
		}
	}

	@media all and (min-width: 840px) and (max-width: 1199.98px) {
		grid-template-columns: 3fr 4.7fr;
	}

	@media all and (min-width: 1200px) {
		grid-template-columns: 4fr 5fr;
	}

	.history-grid-media-inner {
		display: grid;
		grid-template-columns: 1fr;
		gap: clamp(1rem, 2.5vw, 1.5rem);
		flex-direction: column;
		align-items: center;

		@media all and (min-width: 980px) {
			grid-template-columns: 2fr 3.5fr;
		}

		@media all and (min-width: 1200px) {
			grid-template-columns: 2fr 2.5fr;
		}

		.history-image {

			img {
				border-radius: 50%;
				height: auto;
				width: clamp(160px, 13vw, 240px);
			}
		}

		.history-media-content {

			.sean-label {
				margin-bottom: .5rem;

				.name,
				.title,
				.education {
					display: block;
				}

				.name {
					@include headingFont;
				}

				.title,
				.education {
					font-size: clamp(.75rem, 1.2vw, .88rem);
					font-weight: 600;
				}
			}

			.link-grid {
				display: flex;
				gap: .88rem;

				[class*="-icon"] {

					img {
						width: 22.5px;

						&:active,
						&:focus,
						&:hover {
							opacity: .7;
						}
					}
				}
			}

			p {

				&:last-child {
					padding: 1rem 0 0;
				}
			}
		}
	}
}