.page-contact {

    .contact-form-grid {
        display: grid;
        gap: var(--space-medium);
        grid-template-columns: 1fr;

        @media (min-width: 840px) {
            grid-template-columns: 5fr 3fr;
        }

        .field {
            margin-bottom: clamp(1.5rem, 3vw, 2.25rem);

            label {
                color: $headings;
                font-size: 1.11rem;
                margin-bottom: 1rem;
            }

            .description {
                margin-bottom: 10px;
            }

            textarea {
                min-height: 180px;
            }
        }

        .kvk-details {
            font-size: .88rem;

            .subdued-title {
                margin: 4px 0 1rem;
            }

            .semi-heavy {
                color: $color4;
                font-weight: 700;
            }
        }
    }
}