.page-contact {

    .contact-form-grid {
        display: grid;
        gap: 2.5rem;
        grid-template-columns: 1fr;

        @media (min-width: 840px) {
            grid-template-columns: 4fr 3fr;
        }

        @media (min-width: 980px) {
            gap: 4rem;
        }

        .field {
            margin-bottom: 1.5rem;

            @media all and (min-width: 980px) {
                margin-bottom: 2rem;
            }

            label {
                color: $headings;
                font-size: 1.11rem;
                margin-bottom: 1rem;
            }

            .description {
                margin-bottom: 10px;
            }

            textarea {
                min-height: 180px;
            }
        }
    }
}