.page-front {

	.page-header {
		background: $color2;
		color: #fff;

		.content-wrap {

			.page-header-title {
				font-size: clamp(2.5rem, 5vw, 5rem);
				max-width: 88%;
			}

			.page-header-description {
				color: $body_over_purple;
				display: block;
				margin-bottom: 2rem;
				max-width: 92%;

				@media all and (min-width: 540px) {
					line-height: 1.6;
					max-width: 95%;
				}

				@media all and (min-width: 760px) {
					max-width: 650px;
					margin-bottom: 2rem;
				}
			}

			.button {
				color: #fff;
			}
		}

		.services-grid {
			border-bottom: none;
			border-top: 1px dashed $border_over_purple;

			.button {
				color: #fff;
			}
		}
	}

	.plugin-integration-section {

		.section-heading {
			border-bottom: 1px dashed $border_over_white;
		}

        .customization-logos-wrap {

            &.small {
                padding-bottom: 2rem;
                padding-top: 2rem;

                @media all and (min-width: 980px) {
                    padding-bottom: 2rem;
                    padding-top: 2rem;
                }
            }
        }

		.advanced-custom-fields-highlight {
			border-bottom: 1px dashed $border_over_white;

			@media all and (min-width: 980px) {
				padding-bottom: 3rem;
				padding-top: 4rem;
			}

			.acf-grid {
				display: grid;
				grid-template-columns: 1fr;

				@media all and (min-width: 980px) {
					grid-template-columns: 4fr 5fr;
				}

				@media all and (min-width: 1200px) {
					grid-template-columns: 1fr 2fr;
				}

				.acf-highlight-content {
					max-width: 650px;
					padding-bottom: 3rem;

					@media all and (min-width: 980px) {
						padding-bottom: 0;
					}

					.advanced-custom-fields-logo {
						height: 40px;
						margin-bottom: 1rem;
					}
				}

				.acf-graphic {

					@media all and (min-width: 980px) {
						padding-left: 3rem;
					}

					@media all and (min-width: 1200px) {
						padding-left: 4.5rem;
					}
				}
			}
		}

		.facetwp-gravity-forms-grid {
			display: grid;
			grid-template-columns: 1fr;

			@media all and (min-width: 800px) {
				grid-template-columns: 1fr 1fr;
			}

			[class*="-grid-item"] {

				img {
					height: 23px;
					margin-bottom: 1.5rem;
				}

				&:first-child {
					border-bottom: 1px dashed $border_over_white;

					@media all and (min-width: 800px) {
						border-bottom: 0;
						border-right: 1px dashed $border_over_white;
					}
				}
			}
		}

		/* Customization logos Grid in _shared.scss */
	}

	.theme-development-section {

		.nng-stats-grid {
			border-top: 1px dashed $border_over_purple;

			@media all and (min-width: 760px) and (max-width: 1199.98px) {
				grid-template-columns: repeat( 2, 1fr );
			}
		}

		.mock-browser-grid {
			display: grid;
			grid-template-columns: 1fr;

			@media all and (min-width: 1200px) {
				column-gap: 5rem;
				grid-template-columns: 2fr 1fr;
			}

			.design-description {
				margin-bottom: 1.5rem;
				padding-top: 4rem;
                max-width: 600px;

				@media all and (min-width: 1200px) {
					margin-bottom: 0;
					padding-top: 2rem;
				}

				ul {
					padding-left: 1.4rem;

					li {
						padding-bottom: .3rem;
					}
				}
			}
		}

		.the-standard-title {
			padding-top: 0;
            max-width: 700px;

			span {
				font-size: 1.5rem;
			}
		}

		.standards-grid {
			border-top: 1px dashed $border_over_purple;

			.grid-item {

				a {
					color: $body_over_purple;
				}
			}

			// Hides the above grid bottom border
			& + .small-cta-section {
				margin-top: -1px;
				position: relative;
				z-index: 999;
			}
		}
	}
}