.page-why-wordpress {

    .page-header-description {

        em.semi-heavy {
            font-style: normal;
            font-weight: 800;
            color: #fff;
            display: inline-block;
            margin-right: 6px;
        }
    }

    .cd-builds {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin-top: 2rem;
    }

    .why-wordpress-section {

        .section-heading {

            @media all and (min-width: 760px) {
                padding-top: 4.5rem;
            }
        }
    }
}