.work-section {

    .work-content-grid {
        gap: clamp(2.25rem, 5.5vw, 3.75rem);
        display: grid;
        grid-template-columns: 1fr;

        @media all and (min-width: 980px) {
            grid-template-columns: 2fr 3.5fr;
        }

        .work-description {
            max-width: 650px;

            .button {
                margin-top: clamp(0rem, 1.25vw, 1rem);
            }
        }
    }
}